.blog {
  margin-top: 15px;
}

.blog-content {
  background-color: rgba(0, 0, 0, 0.226);
  padding: 10px;
}

.title-screen {
  display: flex;
  justify-content: flex-end;
}

.title-screen h1 {
  font-family: "Courier New", Courier, monospace;
  position: relative;
  font-size: calc(12px + 1.2vw);
  font-weight: 700;
  color: #fff4ece5;
  font-size: 4rem;
  animation: showTop 0.7s;
  z-index: 1;
}
