tfoot tr th {
    position: relative;
    text-align: left;
    padding-left: 40px;
}

tfoot tr td {
    display: inline;
    position: relative;
    font-size: 18px;
    top: 10px;
    right: 500px;
}

tbody tr {
    height: auto;
}

.table {
    table-layout: fixed;
    position: relative;
    top: 45px;
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border: 3px solid rgba(160, 119, 103, 0.473);
    ;
    background-color: rgba(85, 43, 27, 0.473);
}

thead tr th {
    font-size: 24px;
}

.table caption {
    position: relative;
    font-weight: 800;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.788);
    text-shadow: 2px 0 2px rgb(53, 53, 53);
}

th, td {
    padding: 10px;
}

td {
    text-align: center;
}

.table thead tr th {
    font-weight: 300;
}
.line {
    position: relative;
    background-color: #fff;
}
.table-new{
    margin-top: 150px;
	border: 1px solid #eee;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 20px;
}
.table-new th {
	font-weight: bold;
	padding: 5px;
	background: #70410c8c;
	border: 1px solid #c26e0f8c;
}
.table-new td{
	padding: 5px 10px;
	border: 3px solid #c26e0f8c;
	text-align: left;
}
.table-new tbody tr:nth-child(odd){
	background: #72420b8c;
}
.table-new tbody tr:nth-child(even){
	background: #c26e0f8c;
}